#folders

.vs/
.idea/
.vscode/
SlAiCourse/Binaries/
SlAiCourse/Intermediate/
SlAiCourse/DerivedDataCache/
SlAiCourse/Saved/
SlAiCourse/Content/StartContent/
SlAiCourse/ThirdParty/
SlAiCourse/Build/

#files

*.vscode
*.sln
*.xcodeproj
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcworkspace
*.vsconfig

/SlAiCourse/Content/Res/PolygonAdventure/Maps/Demonstration.umap
